.adminmain{
/* background-color: antiquewhite; */

height: calc(100vh - 4.2rem);
width: 100vw;
display: flex;
}


.adminbox{
width: calc(100% - 17rem);
height: auto;
background-color: #e0e2f4;
overflow-y: scroll;
 box-shadow: inset 0 7px 8px -6px rgb(0,0,0,0.629);
}



.barbox{
    padding: 1rem;
     
     min-height: '100vh';
     margin: 3rem 3rem;
     margin-bottom: 4rem; 
    background-color:  '#FF6384','#4BC0C0','#36A2EB','#9966FF','#FFCE56',
}


.barsizeset{
    height: 400px;
}




@media (max-width:768px) {


    .adminmain{
/* background-color: antiquewhite; */
height: calc(100vh - 4.2rem);
width: 100vw;
display: flex;
flex-direction: column;


}

    .adminbox{
        width: 100%;
        height: 100%;
display: flex;
overflow-y: scroll;
    }


    .barsizeset{
    height: 350px;
    border-radius: 13px;
}


.barbox{
    padding: 1rem;
     
     min-height: '100vh';
     margin: 1rem .3rem;
     
}

}
